@import "~font-awesome/css/font-awesome.css";
.search-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1976d2;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-btn {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #1976d2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 240px;
    padding-left: 10px;
}

.search-box> ::placeholder {
    color: white;
    opacity: 0.5;
}

svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}

path {
    fill: #1976d2;
}

.user-box {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.user-btn {
    color: #1976d2;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #1976d2;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 240px;
    padding-left: 10px;
}